# Template Environment Configuration Example
VITE_APP_TITLE="TOUBA NDINDY PROFESSIONAL AFRICAN HAIR BRAIDING"
VITE_SALON_PHONE="443-858-1400"
VITE_SALON_ADDRESS="306 North Eutaw Street, Baltimore Maryland 21201"
VITE_PAYMENT_CASHAPP="$ToubaNdindy"
VITE_PAYMENT_ZELLE="443-858-1400"
VITE_DEFAULT_LANG="fr"

# Firebase Cloud Database Variables (Collez vos clés d'API Firebase ici)
VITE_FIREBASE_API_KEY="AIzaSyYourFirebaseApiKey..."
VITE_FIREBASE_AUTH_DOMAIN="touba-ndindy.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="touba-ndindy"
VITE_FIREBASE_STORAGE_BUCKET="touba-ndindy.appspot.com"
VITE_FIREBASE_MESSAGING_SENDER_ID="123456789"
VITE_FIREBASE_APP_ID="1:123456789:web:abcdef..."
